<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastramento de produtos</title>

    <%- include("../partials/cabecalho.ejs")%>
    <%- include("../partials/menu.ejs")%>

    <link rel="stylesheet" href="/css/fachada.css">
</head>
<body class="fachada">
    <div class="container">
        <form action="/produtos" method="post">
            <input type="hidden" name="_id" value="<%= produto && produto._id %>">
            <label for="id">Id</label>
            <div class="input-group mb-3">
                <input <% if(produto && produto.id !== undefined){%> readonly<% } %> value="<%= produto && produto.id %>" required type="text" class="form-control" placeholder="Digite aqui" aria-label="Username" name="id" id="id">
            </div>

            <label for="nome">Nome</label>
            <div class="input-group mb-3">
                <input required type="text" class="form-control" placeholder="Digite aqui" aria-label="Username" name="nome" id="nome" value="<%= produto && produto.nome %>">
            </div>

            <label for="unidadeContagem">Unidade de contagem</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Digite aqui" aria-label="Username" name="unidadeContagem" id="unidadeContagem" value="<%= produto && produto.unidadeContagem %>">
            </div>

            <label for="quantidade">Quantidade</label>
            <div class="input-group mb-3">
                <input type="number" class="form-control" placeholder="Digite aqui" aria-label="number" name="quantidade" id="quantidade" value="<%= produto && produto.quantidade %>">
            </div>

            <div>
                <input class="btn btn-success" type="submit" value="Atualizar">
            </div>
        </form>

        <a href="/" >Índice</a>
    </div>
</body>
<%- include("../partials/rodape.ejs")%>
</html>
