<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do produto </title>

    <%- include("../partials/cabecalho.ejs")%>
    <%-include("../partials/menu.ejs")%>

    <link rel="stylesheet" href="/css/fachada.css">

</head>
<body class="fachada">

    <div>

    </div>
    Produto com o ID Específico <%= produto.id %>
    <div> 
        <b>Nome:  </b><%= produto.nome %> 
    </div>
    <div>
        <b>Unidade de contagem: </b><%= produto.unidadeContagem %>
    </div>
    <div>
        <b>Quantidade: </b><%= produto.quantidade %>
    </div>
    

    <a href="/produtos">
        <input type="button" value="Voltar para índice"> 
    </a>
    
</body>
<%- include("../partials/rodape.ejs")%>
</html>
