<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do  vendedor</title>

    <%- include("../partials/cabecalho.ejs")%>
    <%-include("../partials/menu.ejs")%>

    <link rel="stylesheet" href="/css/fachada.css">

</head>
<body class="fachada">

    <div>

    </div>
    Vendedor com o ID Específico <%= vendedor.id %>
    <div> 
        <b>Nome:  </b><%= vendedor.nome %> 
    </div>
    <div>
        <b>Email: </b><%= vendedor.email %>
    </div>

    <a href="/vendedores">
        <input type="button" value="Voltar para índice"> 
    </a>
    
</body>
<%- include("../partials/rodape.ejs")%>
</html>
