<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de vendedores</title>

    <%- include("../partials/cabecalho.ejs")%>
    <%-include("../partials/menu.ejs")%>

    <link rel="stylesheet" href="/css/fachada.css">

</head>
<body class="fachada">
    <div class="container">
        <% if (status == 1) { %>
            <div style="background-color: rgb(251, 243, 164);">Vendedor cadastrado com sucesso!!!</div>
        <%} %>
            <div class="container">
                <% if (status == 2) { %>
                    <div style="background-color: rgb(243, 122, 122);">Vendedor removido com sucesso!!!</div>
            
        <%} %>
        <div class="container">
            <% if (status == 3) { %>
                <div style="background-color: rgb(162, 241, 143);">Vendedor atualizado com sucesso!!!</div>
        
    <%} %>
    <br>
    <h3>Vendedores </h3>
    <div>
        <!-- <div>Vendedor cadastrado com sucesso!!!! </div> -->
        
        <table class="table table-striped">
            <th>Nome</th>
            <th>Id</th>
            <th>Email</th>
            <th>Detalhes</th>
            <th>Remover</th>
            <th>Atualizar</th>
        
    <% for (const vendedor of vendedores){ %>
        <tr>
            
        <td> 
            <%= vendedor.nome %> 
        </td>
        <td>
            <%= vendedor.id %>
        </td>
        <td>
            <%= vendedor.email %>
        </td>


        <td>    
            <a class="btn btn-warning" href="/vendedores/<%= vendedor.id %>">Detalhes</a>
         </td>
         <td>    
            <a href="/vendedores/remover/<%= vendedor.id %>"class="btn btn-danger" 
                onclick="return confirm('Deseja realmente remover?')" >Remover</a>
         </td>
         <td>    
            <a href="/vendedores/atualizar/<%= vendedor.id %>" class="btn btn-success">Atualizar</a>
         </td>
        
    <br>

        </tr>
    <%} %>
    </table>
    
    <a href="/">
    <input type="button" class="btn btn-secondary" value="Ãndice">
    </a>
    
    </body>

<%- include("../partials/rodape.ejs")%>
</html>